In [1]:
import json, random
import pandas as pd
import numpy as np

In [2]:
with open('../data/processed/test.json') as f:
    data = json.load(f)

In [14]:
df = pd.DataFrame(data)["id"]

In [15]:
rand = pd.DataFrame(np.random.random(df.shape[0]), columns=["is_iceberg"])

In [16]:
df = pd.concat([df, rand], axis=1)

In [17]:
df = df.round(1)

In [18]:
df.shape

(8424, 2)

In [22]:
df[:10]

         id  is_iceberg
0  5941774d         0.9
1  4023181e         0.7
2  b20200e4         0.2
3  e7f018bb         0.9
4  4371c8c3         0.7
5  a8d9b1fd         0.7
6  29e7727e         0.1
7  92a51ffb         0.2
8  c769ac97         0.1
9  aee0547d         0.7

In [21]:
df.to_csv(path_or_buf="random.csv", sep=",", index=False)